:root {
  --fontOne: 'Playfair Display', serif;
  --fontTwo: 'Montserrat', sans-serif;
  
  --pinkOne: rgba(228, 170, 185, 1.0);
  --pinkOne50: #F2D3DB;
  --pinkOne25: #F8E9EC;
  
  --pinkTwo: rgba(183, 107, 121, 1.0);
  --pinkTwo50: #DCB3B9;
  --pinkTwo25: #EED8DB;
  
  --purpleOne: rgba(126, 87, 197, 1.0);
  --purpleOne50: #C0A8E3;
  --purpleOne25: #DFD2F0;
  
  --purpleTwo: rgba(98, 76, 121, 1.0);
  --purpleTwo50:  #ADA0B9;
  --purpleTwo25: #D5CEDB;
  
  --purpleThree:  rgba(63, 43, 86, 1.0);
  --purpleThree50: #9A8DA6;
  --purpleThree25: #CBC4D1;
  
  --grey: rgba(88, 89, 91, 1.0);
  --grey50: #A7A9AC;
  --grey25: #D1D3D4;
}


/* five-simple-steps-header */
.five-simple-steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: var(--purpleThree);
  font-family: var(--fontTwo);
}

.five-simple-steps-header {
  font-family: var(--fontOne);
  font-size: 2rem;
}

.five-simple-steps-sub-header {
  font-weight: 700;
  font-size: 2rem;
  margin-top: -10px;
  text-align: center;
}


/* five-simple-steps-circles */
.five-simple-steps-circles {
  margin-bottom: 20px;
}

.circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  background-color: var(--purpleTwo);
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  display: none;
  font-size: 2em;
}

.circle-text {
  color: var(--purpleThree);
  font-family: var(--fontTwo);
  font-weight: 700;
  margin-top: 10px;
}


/* row five-simple-steps-view-cart */
.five-simple-steps-view-cart {
  margin-bottom: 40px;
}

.cart-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--purpleTwo25);
  color: var(--purpleThree);
  font-family: var(--fontTwo);
}

.cart-summary {
  text-align: center;
}

.cart-right {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--purpleTwo50);
  padding: 20px;
  color: var(--purpleThree);
  font-family: var(--fontTwo);
}

.cart-button {
  background-color: var(--purpleThree);
  border: none;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}


/* five-simple-steps-product */
.five-simple-steps-product {
  margin-bottom: 100px;
}

.product-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-information {
  font-family: var(--fontTwo);
}

.product-buttons-wrapper {
  display: flex;
  margin-bottom: 15px;
}

.product-button {
  background-color: var(--purpleTwo);
  border: none;
  color: white;
  padding: 6px 20px 6px 20px;
  margin-right: 10px;
}

.product-choose {
  background-color: var(--purpleThree);
}

.product-header {
  color: var(--purpleThree);
  font-weight: 700;
}

.product-sub-header {
  color: var(--purpleThree);
  margin-bottom: 20px;
}

.product-description {
  margin-bottom: 20px;
}

.product-price {
  color: var(--purpleThree);
}

.product-price > .price {
  font-weight: 700;
  margin-left: 10px;
  font-size: 1.4em;
}


/* Hidden */
.hidden {
  display: none;
}


/* TODO:  Might look good to only have circle 1 show then 2, 3 and so forth depending on which step they're doing.  Since it currently takes up to much space showing all of them. */
/* TODO:  Maybe move the CHOOSE button down near the price for mobile. */
@media screen and (max-width: 600px) {
  .product-left {
    flex-basis: auto;
  }
  .product-buttons-wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .product-button {
    width: 150px;
    margin-right: 0px;
  }
  .product-right {
    text-align: center;
  }
}