.shopping-header {
  font-size: 2em;
  font-weight: 900;
  color: #624E78;
  padding-bottom: 20px;
}

.diamonds-row {
  padding-bottom: 25px;
}

/* Diamond and Rectangle */
.diamond-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.diamond {
  width: 50px;
  height: 50px;
  border: 1px solid #624E78;
  background-color: #624E78;
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border: 1px solid #624E78;
  background-color: #e6e6fa;
  color: #624E78;
}

.rectangle-one {
  padding-left: 50px;
}

.rectangle-two {
  padding-left: 60px;
}

.rectangle-three {
  padding-left: 40px;
}
.rectangle-four {
  padding-left: 40px;
}

.check {
  display: none;
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 2em;
  top: 2%;
}

/* .shopping-header {
  font-size: 2em;
  font-weight: 900;
  color: #624E78;
  padding-bottom: 20px;
}

.diamonds-row {
  padding-bottom: 25px;
} */

/* Diamond and Rectangle */
/* .diamond-wrapper {
  display: flex;
  justify-content: center;
  padding-right: 140px;
}

.diamond {
  transform: rotate(45deg);
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 1px solid #624E78;
  background-color: #624E78;
} */

/* .rectangle {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 150px;
  height: 30px;
  border: 1px solid #624E78;
  background-color: #e6e6fa;
  color: #624E78;
} */

/* .number {
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 2em;
} */

/* .rectangle-one {
  padding-left: 50px;
}

.rectangle-two {
  padding-left: 60px;
}

.rectangle-three {
  padding-left: 40px;
}
.rectangle-four {
  padding-left: 40px;
}

.check {
  display: none;
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 2em;
  top: 2%;
} */

/* Other styles */
.box {
  height: 50px;
  background-color: lavender;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  opacity: .7;
  font-weight: 900;
  font-size: 1.65rem;
  box-shadow: 2px 2px 4px #888888;
}

.box:hover{
  opacity: .99;
  box-shadow: 6px 6px 12px #888888;
}

.frame {
  display: none;
}

.checkout-button {
  display: none;
}

.automation {
  display: none;
}

.accessories-package {
  display: none;
}