@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');

.body-wrapper {
	font-family: 'Montserrat', sans-serif;
}

html {
	position: relative;
	min-height: 100%;
}

.jumbotron {
	position: relative;
	overflow: hidden;
	background-color: black;
}

.jumbotron video {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	/*  object-fit is not supported on IE  */
	object-fit: cover;
	opacity: 0.8;
}

.jumbotron .container {
	text-align: center;
	z-index: 2;
	position: relative;
}

.jumbotron-hero {
	height: 400px;
	background-size: cover;

}

.jumbo-text {
	color: white;
	position: relative;
	top: 20%;
	text-shadow: 2px 2px #624E78;
}

script-text {
	font-family: 'Lora', serif;
	color: #624E78;
	font-size: 1.25rem;
	font-weight: bold;
}

body {
	margin-bottom: 60px;
}

a:link {
	color: #624E78;
}

a:visited {
	color: #624E78;
}

.home-text {
	color: white !important;
	text-shadow: 2px 2px #624E78;
	font-weight: bolder;
}

.machine-home {
	height: 275px;
	background-image: url(../images/machines/machine-1.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	opacity: .8;
	font-weight: 900;
	font-size: 2rem;
	box-shadow: 3px 3px 6px #303030;
	border-radius: 15px;
}

.machine-home:hover {
	opacity: .99;
	box-shadow: 6px 6px 12px #464646;
}

.frame-home {
	height: 275px;
	background-image: url(../images/frames/frame-1.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	opacity: .8;
	font-weight: 900;
	font-size: 2rem;
	box-shadow: 3px 3px 6px #303030;
	border-radius: 15px;
}

.frame-home:hover {
	opacity: .99;
	box-shadow: 6px 6px 12px #464646;
}

.acc-home {
	height: 275px;
	background-image: url(../images/accessories/acc-1.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	opacity: .8;
	font-weight: 900;
	font-size: 2rem;
	box-shadow: 3px 3px 6px #303030;
	border-radius: 15px;
}

.acc-home:hover {
	opacity: .99;
	box-shadow: 6px 6px 12px #464646;
}

.tutorial-home {
	height: 275px;
	background-image: url(../images/tutorials/tutorial-1.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	opacity: .8;
	font-weight: 900;
	font-size: 2rem;
	box-shadow: 3px 3px 6px #303030;
	border-radius: 15px;
}

.tutorial-home:hover {
	opacity: .99;
	box-shadow: 6px 6px 12px #464646;
}

.automation-home {
	height: 275px;
	background-image: url(../images/automation/automation-1.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	opacity: .8;
	font-weight: 900;
	font-size: 2rem;
	box-shadow: 3px 3px 6px #303030;
	border-radius: 15px;
}

.automation-home:hover {
	opacity: .99;
	box-shadow: 6px 6px 12px #464646;
}

.warranty-home {
	height: 275px;
	background-image: url(../images/warranty/warranty-1.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	opacity: .8;
	font-weight: 900;
	font-size: 2rem;
	box-shadow: 3px 3px 6px #303030;
	border-radius: 15px;
}

.warranty-home:hover {
	opacity: .99;
	box-shadow: 6px 6px 12px #464646;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 85px;
}

.mainbody {
	background-color: white;
	padding-top: 35px;
	padding-bottom: 35px;
}

.fit {
	box-sizing: border-box;
}

.acc-box {
	height: 150px;
	background-color: lavender;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	border-style: solid;
    border-color: #f3d5dc;
    border-width: 5px;
  }

  .button-purple, #pills-home-tab{
	  background-color: #3f2e56;
	  border-color: #3f2e56;
	  border-radius: 0px;
	  font-size: .85rem;
    padding-left: 25px;
    padding-right: 25px;
  }

  .button-purple:hover{
	  background-color: #624E78;
	  border-color: #624E78;
  }

/* TABLET MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
	.box {
		opacity: .99;
	}

	.navbar {
		margin-bottom: 0px !important;
	}

	.video-responsive {
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		height: 0;
	}

	.video-responsive iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}

/* PHONE MEDIA QUERIES */
@media only screen and (max-width: 500px) {
	.jumbotron-hero {
		height: 250px;
	}

	.header-text{
		font-size: 4rem !important;
	}

	.jumbo-text {
		color: white;
		position: relative;
		top: 15%;
		text-shadow: 2px 2px #624E78;
	}

	.box {
		opacity: .99;
	}

	.navbar {
		margin-bottom: 0px !important;
	}

	.video-responsive {
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		height: 0;
	}

	.video-responsive iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}