@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a:link {
  color: #624E78;
}

a:visited {
  color: #624E78;
}

.body-wrapper {
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: #f5f5f5 !important;
    margin-bottom: 50px;
}

.navbar-brand{
    font-size: 1.5rem;
    font-weight: 800;
    background-color: #f5f5f5;
}

.box {
    height: 275px;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    opacity: .7;
    font-weight: 900;
    font-size: 1.65rem;
    box-shadow: 2px 2px 4px #888888;
}

.box:hover{
    opacity: .99;
    box-shadow: 6px 6px 12px #888888;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.mainbody{
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}



/* TABLET MEDIA QUERIES */
@media only screen and (max-width: 1000px){
    .box{
        height: 225px;
        opacity: .99;
    }

    .navbar{
        margin-bottom: 0px !important;
    }
}

/* PHONE MEDIA QUERIES */
@media only screen and (max-width: 500px) {
    .box{
        height: 200px;
        opacity: .99;
    }

    .navbar{
        margin-bottom: 0px !important;
    }

    .video-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .video-responsive iframe{
        left:0;
        top:0;
        height: 100%;
        width: 100%;
        position:absolute;
    }
  }